<?xml version="1.0" encoding="utf-8"?>
<!--
 * Created V/05/06/2015
 * Updated D/29/10/2017
 *
 * Copyright 2015-2018 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * https://www.luigifab.info/magento/paypalrefund
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
-->

<config>
	<modules>
		<Luigifab_Paypalrefund>
			<version>2.1.0</version>
		</Luigifab_Paypalrefund>
	</modules>
	<global>
		<blocks>
			<paypalrefund>
				<class>Luigifab_Paypalrefund_Block</class>
			</paypalrefund>
		</blocks>
		<helpers>
			<paypalrefund>
				<class>Luigifab_Paypalrefund_Helper</class>
			</paypalrefund>
		</helpers>
		<models>
			<paypalrefund>
				<class>Luigifab_Paypalrefund_Model</class>
			</paypalrefund>
			<paypal>
				<rewrite>
					<standard>Luigifab_Paypalrefund_Model_Rewrite_Standard</standard>
				</rewrite>
			</paypal>
		</models>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Luigifab_Paypalrefund>
					<files>
						<default>Luigifab_Paypalrefund.csv</default>
					</files>
				</Luigifab_Paypalrefund>
			</modules>
		</translate>
	</adminhtml>
</config>